In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('cleaned_train_data.csv')
print(data)

      Unnamed: 0                              Name  Year  Kilometers_Driven  \
0              0            Maruti Wagon R LXI CNG  2010              72000
1              1  Hyundai Creta 1.6 CRDi SX Option  2015              41000
2              2                      Honda Jazz V  2011              46000
3              3                 Maruti Ertiga VDI  2012              87000
4              4   Audi A4 New 2.0 TDI Multitronic  2013              40670
...          ...                               ...   ...                ...
3494        3494              Hyundai Verna 1.6 SX  2012              83678
3495        3495          Maruti Wagon R LXI BS IV  2010              91000
3496        3496       Maruti Ertiga SHVS ZDI Plus  2016              50000
3497        3497   Hyundai Xcent 1.1 CRDi S Option  2015              58000
3498        3498                  Maruti Swift VDI  2012              80000

      Mileage  Engine   Power  Seats  New_Price  Price  ...  Fuel_Type_CNG  \
0       26.60     998   58.16    5.0  24.134927   1.75  ...              1
1       19.67    1582  126.20    5.0  24.134927  12.50  ...              0
2       18.20    1199   88.70    5.0   8.610000   4.50  ...              0
3       20.77    1248   88.76    7.0  24.134927   6.00  ...              0
4       15.20    1968  140.80    5.0  24.134927  17.74  ...              0
...       ...     ...     ...    ...        ...    ...  ...            ...
3494    22.32    1582  126.32    5.0  24.134927   5.50  ...              0
3495    18.90     998   67.10    5.0  24.134927   2.30  ...              0
3496    24.52    1248   88.50    7.0  24.134927   8.70  ...              0
3497    24.40    1120   71.01    5.0  24.134927   4.95  ...              0
3498    22.90    1248   74.00    5.0  24.134927   4.25  ...              0

      Fuel_Type_Diesel  Fuel_Type_LPG  Fuel_Type_Petrol  \
0                    0              0                 0
1                    1              0                 0
2                    0              0                 1
3                    1              0                 0
4                    1              0                 0
...                ...            ...               ...
3494                 1              0                 0
3495                 0              0                 1
3496                 1              0                 0
3497                 1              0                 0
3498                 1              0                 0

      Transmission_Automatic  Transmission_Manual  Owner_Type_First  \
0                          0                    1                 1
1                          0                    1                 1
2                          0                    1                 1
3                          0                    1                 1
4                          1                    0                 0
...                      ...                  ...               ...
3494                       0                    1                 1
3495                       0                    1                 1
3496                       0                    1                 1
3497                       0                    1                 1
3498                       0                    1                 1

      Owner_Type_Fourth & Above  Owner_Type_Second  Owner_Type_Third
0                             0                  0                 0
1                             0                  0                 0
2                             0                  0                 0
3                             0                  0                 0
4                             0                  1                 0
...                         ...                ...               ...
3494                          0                  0                 0
3495                          0                  0                 0
3496                          0                  0                 0
3497                          0                  0                 0
3498                          0                  0                 0

[3499 rows x 31 columns]

In [6]:
X = data.drop(['Unnamed: 0', 'Name', 'Price'],axis=1)
Y = data['Price']

In [7]:
X

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Location_Ahmedabad,Location_Bangalore,Location_Chennai,...,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Owner_Type_First,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,2010,72000,26.60,998,58.16,5.0,24.134927,0,0,0,...,1,0,0,0,0,1,1,0,0,0
1,2015,41000,19.67,1582,126.20,5.0,24.134927,0,0,0,...,0,1,0,0,0,1,1,0,0,0
2,2011,46000,18.20,1199,88.70,5.0,8.610000,0,0,1,...,0,0,0,1,0,1,1,0,0,0
3,2012,87000,20.77,1248,88.76,7.0,24.134927,0,0,1,...,0,1,0,0,0,1,1,0,0,0
4,2013,40670,15.20,1968,140.80,5.0,24.134927,0,0,0,...,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3494,2012,83678,22.32,1582,126.32,5.0,24.134927,0,0,0,...,0,1,0,0,0,1,1,0,0,0
3495,2010,91000,18.90,998,67.10,5.0,24.134927,0,0,0,...,0,0,0,1,0,1,1,0,0,0
3496,2016,50000,24.52,1248,88.50,7.0,24.134927,0,0,0,...,0,1,0,0,0,1,1,0,0,0
3497,2015,58000,24.40,1120,71.01,5.0,24.134927,0,0,0,...,0,1,0,0,0,1,1,0,0,0
3498,2012,80000,22.90,1248,74.00,5.0,24.134927,0,0,0,...,0,1,0,0,0,1,1,0,0,0

In [8]:
Y

0        1.75
1       12.50
2        4.50
3        6.00
4       17.74
        ...
3494     5.50
3495     2.30
3496     8.70
3497     4.95
3498     4.25
Name: Price, Length: 3499, dtype: float64

In [9]:
# Fitting Random Forest Regression to the dataset
# import the regressor
from sklearn.ensemble import RandomForestRegressor

# create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)

# fit the regressor with x and y data
regressor.fit(X, Y)

RandomForestRegressor(random_state=0)

In [10]:
import pickle

In [11]:
filename = 'model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

In [12]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X, Y)
print(result)

0.9838860273657348

In [13]:
test = pd.read_csv('cleaned_test_data.csv')

In [16]:
X_test = test.drop(['Unnamed: 0', 'Name'],axis=1)

In [17]:
X_test

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price,Location_Ahmedabad,Location_Bangalore,Location_Chennai,...,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Owner_Type_First,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,2017,41290,16.00,2179.0,140.00,7.0,20.52516,0,0,0,...,1,0,0,0,0,1,0,0,1,0
1,2013,65000,22.48,1995.0,190.00,5.0,67.87000,0,0,0,...,1,0,0,0,1,0,1,0,0,0
2,2016,16471,14.28,1798.0,138.03,5.0,20.48000,0,1,0,...,0,0,0,1,0,1,0,0,1,0
3,2015,54339,22.54,1396.0,88.73,5.0,20.52516,0,0,0,...,1,0,0,0,0,1,0,0,1,0
4,2016,24025,18.15,1198.0,82.00,6.0,20.52516,0,0,0,...,0,0,0,1,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,2014,27365,28.40,1248.0,74.00,5.0,7.88000,0,0,0,...,1,0,0,0,0,1,1,0,0,0
2516,2015,100000,24.40,1120.0,71.00,5.0,20.52516,0,0,0,...,1,0,0,0,0,1,1,0,0,0
2517,2012,55000,14.00,2498.0,112.00,8.0,20.52516,0,0,0,...,1,0,0,0,0,1,0,0,1,0
2518,2013,46000,18.90,998.0,67.10,5.0,20.52516,0,0,0,...,0,0,0,1,0,1,1,0,0,0
2519,2011,47000,25.44,936.0,57.60,5.0,20.52516,0,0,0,...,1,0,0,0,0,1,1,0,0,0

In [20]:
X_test.isnull().sum()

Year                          0
Kilometers_Driven             0
Mileage                       2
Engine                       14
Power                        56
Seats                        17
New_Price                     0
Location_Ahmedabad            0
Location_Bangalore            0
Location_Chennai              0
Location_Coimbatore           0
Location_Delhi                0
Location_Hyderabad            0
Location_Jaipur               0
Location_Kochi                0
Location_Kolkata              0
Location_Mumbai               0
Location_Pune                 0
Fuel_Type_CNG                 0
Fuel_Type_Diesel              0
Fuel_Type_Electric            0
Fuel_Type_LPG                 0
Fuel_Type_Petrol              0
Transmission_Automatic        0
Transmission_Manual           0
Owner_Type_First              0
Owner_Type_Fourth & Above     0
Owner_Type_Second             0
Owner_Type_Third              0
dtype: int64

In [21]:
X_test['Mileage'] = X_test['Mileage'].fillna(X_test['Mileage'].mean())
X_test['Engine'] = X_test['Engine'].fillna(X_test['Engine'].mean())
X_test['Power'] = X_test['Power'].fillna(X_test['Power'].mean())
X_test['Seats'] = X_test['Seats'].fillna(X_test['Seats'].mean())

In [22]:
X_test.isnull().sum()

Year                         0
Kilometers_Driven            0
Mileage                      0
Engine                       0
Power                        0
Seats                        0
New_Price                    0
Location_Ahmedabad           0
Location_Bangalore           0
Location_Chennai             0
Location_Coimbatore          0
Location_Delhi               0
Location_Hyderabad           0
Location_Jaipur              0
Location_Kochi               0
Location_Kolkata             0
Location_Mumbai              0
Location_Pune                0
Fuel_Type_CNG                0
Fuel_Type_Diesel             0
Fuel_Type_Electric           0
Fuel_Type_LPG                0
Fuel_Type_Petrol             0
Transmission_Automatic       0
Transmission_Manual          0
Owner_Type_First             0
Owner_Type_Fourth & Above    0
Owner_Type_Second            0
Owner_Type_Third             0
dtype: int64

In [29]:
data.columns

Index(['Unnamed: 0', 'Name', 'Year', 'Kilometers_Driven', 'Mileage', 'Engine',
       'Power', 'Seats', 'New_Price', 'Price', 'Location_Ahmedabad',
       'Location_Bangalore', 'Location_Chennai', 'Location_Coimbatore',
       'Location_Delhi', 'Location_Hyderabad', 'Location_Jaipur',
       'Location_Kochi', 'Location_Kolkata', 'Location_Mumbai',
       'Location_Pune', 'Fuel_Type_CNG', 'Fuel_Type_Diesel', 'Fuel_Type_LPG',
       'Fuel_Type_Petrol', 'Transmission_Automatic', 'Transmission_Manual',
       'Owner_Type_First', 'Owner_Type_Fourth & Above', 'Owner_Type_Second',
       'Owner_Type_Third'],
      dtype='object')

In [33]:
X_test = X_test.drop(['Fuel_Type_Electric'], axis=1)

In [34]:
loaded_model.predict(X_test)

array([13.6921, 17.7845, 14.1251, ...,  7.0936,  2.5743,  2.0974])

In [35]:
loaded_model.predict([[2012, 61240, 22.48,1995, 190, 5, 70.43, 0,  0, 0, 0, 0, 0, 0, 0,0, 1, 0, 0, 1, 0, 0, 1,0,1,0,0,0]])

/Users/omachrekar/miniforge3/envs/work/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([17.8398])